@using BulgarianWines.Web.ViewModels.Addresses
@using System.Security.Claims
@model BulgarianWines.Web.ViewModels.Orders.CreateOrderInputModel

@{
    this.ViewData["Title"] = "Checkout";
}

<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        Checkout
    </title>
    @*<script src="~/js/wined/jquery/jquery-2.1.1.min.js" asp-append-version="true"></script>*@
    <!-- <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" /> -->
    <script src="~/js/wined/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
    <link href="~/js/wined/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">

    <link href="~/css/wined/stylesheet.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/wined/themecss/lightbox.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/js/wined/jquery/magnific/magnific-popup.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/js/wined/jquery/owl-carousel/owl.carousel.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/js/wined/jquery/owl-carousel/owl.transitions.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/wined/themecss/carousel.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/wined/themecss/custom.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/wined/themecss/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/wined/themecss/animate.css" asp-append-version="true" />

    <script src="~/js/wined/lightbox/lightbox-2.6.min.js" asp-append-version="true"></script>
    <link href="~/js/wined/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen" asp-append-version="true" />
    <script src="~/js/wined/jquery/datetimepicker/moment/moment.min.js" asp-append-version="true"></script>
    <script src="~/js/wined/jquery/datetimepicker/moment/moment-with-locales.min.js" asp-append-version="true"></script>
    <script src="~/js/wined/jquery/datetimepicker/bootstrap-datetimepicker.min.js" asp-append-version="true"></script>
    @*<script src="~/js/wined/common.js" asp-append-version="true"></script>*@
    <!-- Theme Start -->

    <script type="text/javascript" src="~/js/wined/themejs/custom.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/themejs/jstree.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/themejs/carousel.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/themejs/productcarosel.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/themejs/jquery.custom.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/themejs/jquery.formalize.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/themejs/jquery.elevatezoom.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/themejs/bootstrap-notify.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/jquery/magnific/jquery.magnific-popup.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/themejs/owl.carousel.min.js" asp-append-version="true"></script>
    <link rel="stylesheet" type="text/css" href="~/js/wined/jquery/magnific/magnific-popup.css" asp-append-version="true" />
    <script src="~/js/wined/themejs/tabs.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/jquery.countdown.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/jquery.countdown.min.js" asp-append-version="true"></script>
    <!-- Theme End -->

    <script src="~/js/wined/common.js" asp-append-version="true"></script>
    <script src="~/js/wined/themejs/parallax.js" asp-append-version="true"></script>
</head>

<!-- Checkout -->

<body class="checkout-checkout   layout-1">
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="ShoppingCart" asp-action="Index">
                        Shopping Cart
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Orders" asp-action="Create">
                        Checkout
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <br />

    <div id="checkout-checkout" class="container">
        <div class="row">
            <div id="content" class="col-sm-12">
                <h2 class="page-title">
                    Checkout
                </h2>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                Billing Details
                            </h4>
                        </div>
                        <div class="panel-body">
                            <form method="post" asp-controller="Orders" asp-action="Create" id="orderForm" class="form-horizontal">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                @*<div class="radio">
                <label>
                    <input type="radio" name="payment_address" value="existing" checked="checked">
                    I want to use an existing address
                </label>
            </div>
            <div id="payment-existing" style="display: none;">
                <select name="address_id" class="form-control">
                    <option value="2" selected="selected">
                        asd asd, asdasd, asdasd, Caerphilly, United Kingdom
                    </option>
                </select>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="payment_address" value="new">
                    I want to use a new address
                </label>
            </div>*@
                                <br>
                                <div id="payment-new" style="">
                                    <div class="form-group required">
                                        <label class="col-sm-2 control-label" asp-for="UserFirstName">
                                            First Name
                                        </label>
                                        <div class="col-sm-10">
                                            <input asp-for="UserFirstName" type="text" placeholder="First Name" id="input-payment-firstname" class="form-control">
                                        </div>
                                        <span asp-validation-for="UserFirstName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group required">
                                        <label class="col-sm-2 control-label" asp-for="UserLastName">
                                            Last Name
                                        </label>
                                        <div class="col-sm-10">
                                            <input asp-for="UserLastName" type="text" placeholder="Last Name" id="input-payment-lastname" class="form-control">
                                        </div>
                                        <span asp-validation-for="UserLastName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group required">
                                        <label class="col-sm-2 control-label" asp-for="Email">
                                            Email
                                        </label>
                                        <div class="col-sm-10">
                                            <input asp-for="Email" type="email" name="email" placeholder="Email" id="input-payment-email" class="form-control">
                                        </div>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group required">
                                        <label class="col-sm-2 control-label" asp-for="Phone">
                                            Phone
                                        </label>
                                        <div class="col-sm-10">
                                            <input asp-for="Phone" type="text" name="phone" value="" placeholder="Phone" id="input-payment-phone" class="form-control">
                                        </div>
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>
                                </div>

                                @*<div class="form-group border-primary mb-0">
                <ul class="list-group">
                    <li class="list-group-item">
                        <label>
                            <input asp-for="DeliveryType" type="radio" id="Home" value="Home" checked>
                            <span class="font-weight-bold mr-2">
                                To Home
                            </span>
                        </label>
                        <label>
                            <input asp-for="DeliveryType" type="radio" id="Office" value="Office">
                            <span class="font-weight-bold">
                                To Office
                            </span>
                        </label>
                    </li>
                </ul>
                <span asp-validation-for="DeliveryType" class="text-danger"></span>
            </div>*@
                                <hr />
                                <h4 class="mb-2">
                                    Choose Address
                                </h4>
                                <div class="form-group border-primary mb-0">
                                    <ul class="list-group">
                                        @foreach (var address in Model.Addresses)
                                        {
                                            <li class="list-group-item">
                                                <label label class="col-sm-10 control-label">
                                                    <input asp-for="AddressId" type="radio" value="@address.Id" checked />
                                                    @address.Street, @address.CityName, @address.CityPostCode, @(string.IsNullOrEmpty(address.Description) ? string.Empty : ", " + address.Description)
                                                </label>
                                                <div class="float-right">
                                                    <a asp-area="" asp-controller="Addresses" asp-action="Delete" asp-route-id="@address.Id">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                    <span asp-validation-for="AddressId" class="text-danger"></span>
                                </div>
                                <a class="btn btn-primary mt-2" data-toggle="collapse" href="#addressForm" role="button" aria-expanded="false" aria-controls="addressForm">Add</a>
                                <input asp-for="PaymentType" hidden value="CashOnDelivery" />
                            </form>
                            <hr />
                            <div class="collapse" id="addressForm">
                                <h4 class="mb-5">Add Address</h4>
                                <partial name="_AddAddressPartial" model="new AddressInputViewModel { UserId = this.User.FindFirstValue(ClaimTypes.NameIdentifier)}" />
                            </div>
                            @*<div class="col-md-5">*@
                                <div class="row">
                                    <vc:cart-body-checkout></vc:cart-body-checkout>
                                    <div class="col-md-12">
                                        <div class="pay-meth">
                                            <h4>
                                                Payment Method
                                            </h4>
                                            <div class="pay-box">
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <input type="radio" name="payment" id="cashOnDeliveryInput" value="CashOnDelivery" checked />
                                                        <label for="cashOnDeliveryInput">
                                                            <span><i class="fa fa-circle"></i></span>
                                                            Cash On Delivery
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" name="payment" id="stripeInput" value="Stripe" />
                                                        <label for="stripeInput">
                                                            <span><i class="fa fa-circle"></i></span>
                                                            Stripe
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                            <span asp-validation-for="PaymentType" class="text-danger"></span>
                                        </div>
                                        <div class="buttons clearfix">
                                            <div class="pull-right">
                                                <button type="button" name="button" id="orderButton" data-loading-text="Loading..." class="btn btn-primary">
                                                    Place Order
                                                </button>
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                    </div>
                                </div>
                            @*</div>*@
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<!-- End Checkout -->

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#orderButton").click(function () {
                $("#orderForm").submit();
            });
            $("#cashOnDeliveryInput").click(function () {
                $("#PaymentType").val($(this).val());
            });
            $("#stripeInput").click(function () {
                $("#PaymentType").val($(this).val());
            });
        });
    </script>

    <script type="text/javascript">
        $('input[name=\'payment_address\']').on('change', function () {
            if (this.value == 'new') {
                $('#payment-existing').hide();
                $('#payment-new').show();
            } else {
                $('#payment-existing').show();
                $('#payment-new').hide();
            }
        });
    </script>


    <!-- ======= Quick view JS ========= -->
    <script>
        function quickbox() {
            if ($(window).width() > 767) {
                $('.quickview').magnificPopup({
                    type: 'iframe',
                    delegate: 'a',
                    preloader: true,
                    tLoading: 'Loading image #%curr%...',
                });
            }
        }
        jQuery(document).ready(function () { quickbox(); });
        jQuery(window).resize(function () { quickbox(); });
    </script>
}
