@model BulgarianWines.Web.ViewModels.Orders.OrderListViewModel

@{
    this.ViewData["Title"] = "Order History";
}

<section>
    <table class="table table-bordered col-md-12 mt-5 mb-5">
        <thead class="thead-light">
        <tr class="text-center">
            <th scope="col">
                Created On
            </th>
            <th scope="col">
                Status
            </th>
            <th scope="col">
                Payment Type
            </th>
            <th scope="col">
                Payment Status
            </th>
            <th scope="col">
                Total Price
            </th>
            <th scope="col">
                Details
            </th>
        </tr>
        </thead>
        <tbody>
        @if (!Model.Orders.Any())
        {
            <tr class="text-center font-weight-bold">
                <td colspan="6">
                    YOU HAVE NO ORDERS
                </td>
            </tr>
        }
        @foreach (var order in Model.Orders)
        {
            <tr class="text-center">
                <td>
                    @order.CreatedOn
                </td>
                <td>@order.Status</td>
                <td>@order.PaymentType</td>
                <td>@order.PaymentStatus</td>
                <td>$@order.TotalPrice</td>
                <td><a class="btn btn-primary" asp-area="" asp-controller="Orders" asp-action="Details" asp-route-id="@order.Id">Details</a></td>
            </tr>
        }
        </tbody>
    </table>
    @*<partial name="_PagingPartial" />*@
</section>
