@model BulgarianWines.Web.ViewModels.ShoppingCart.ShoppingCartViewModel

@{
    this.ViewData["Title"] = "Shopping Cart";
}

<!-- Shopping Cart -->
<section class="shopping-bag">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-table table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="t-pro">
                                    Product
                                </th>
                                <th class="t-pro"></th>
                                <th class="t-price">
                                    Price
                                </th>
                                <th class="t-qty">
                                    Quantity
                                </th>
                                <th class="t-total">
                                    Total
                                </th>
                                <th class="t-rem">
                                    Remove
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in Model.Products)
                            {
                                <tr>
                                    <td class="t-pro d-flex">
                                        <div class="t-img">
                                            <a href="">
                                                <img src="@product.ImageUrl" class="custom-image-box">
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="t-content">
                                            <p class="t-heading">
                                                <a asp-area="" asp-controller="Wines" asp-action="Details" asp-route-id="@product.ProductId">
                                                    @product.ProductName
                                                </a>
                                            </p>
                                            <partial name="_WineRatingPartial" model="new BulgarianWines.Web.ViewModels.Wines.WineRatingViewModel{ AverageRating = product.AverageRating, ShowAverageRating = false }" />
                                        </div>
                                    </td>
                                    <td class="t-price">
                                        S$ @product.ProductPrice
                                    </td>
                                    <td class="t-qty">
                                        <div class="qty-box">
                                            <div class="quantity buttons_added">
                                                <a asp-area="" asp-controller="ShoppingCart" asp-action="UpdateQuantity" asp-route-productId="@product.ProductId" asp-route-increase="false" class="minus">
                                                    -
                                                </a>
                                                <input type="number" step="1" min="1" max="100" value="@product.Quantity" class="qty text" size="4" readonly>
                                                <a asp-area="" asp-controller="ShoppingCart" asp-action="UpdateQuantity" asp-route-productId="@product.ProductId" asp-route-increase="true" class="plus">
                                                    +
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="t-total">
                                        @product.TotalPrice лв.
                                    </td>
                                    <td class="">
                                        <a asp-area="" asp-controller="ShoppingCart" asp-action="Delete" asp-route-id="@product.ProductId">
                                            <i class="fa fa-trash">
                                            </i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Shopping Cart -->