@model BulgarianWines.Web.ViewModels.ShoppingCart.ShoppingCartViewModel

@{
    this.ViewData["Title"] = "Shopping Cart";

}
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        your bag
    </title>
    @*<script src="~/js/wined/jquery/jquery-2.1.1.min.js" asp-append-version="true"></script>*@
    <!-- <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" /> -->
    <script src="~/js/wined/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
    <link href="~/js/wined/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">

    <link href="~/css/wined/stylesheet.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/wined/themecss/lightbox.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/js/wined/jquery/magnific/magnific-popup.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/js/wined/jquery/owl-carousel/owl.carousel.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/js/wined/jquery/owl-carousel/owl.transitions.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/wined/themecss/carousel.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/wined/themecss/custom.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/wined/themecss/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/wined/themecss/animate.css" asp-append-version="true" />
    <!--  -->

    <script src="~/js/wined/lightbox/lightbox-2.6.min.js" asp-append-version="true"></script>
    @*<script src="~/js/wined/common.js" asp-append-version="true"></script>*@
    @*<link href="http://demos.thementic.com/opencart/OPC01/OPC0100034/image/catalog/cart.png" rel="icon" />*@
    <!-- Theme Start -->

    <script type="text/javascript" src="~/js/wined/themejs/custom.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/themejs/jstree.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/themejs/carousel.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/themejs/productcarosel.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/themejs/jquery.custom.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/themejs/jquery.formalize.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/themejs/jquery.elevatezoom.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/themejs/bootstrap-notify.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/jquery/magnific/jquery.magnific-popup.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/themejs/owl.carousel.min.js" asp-append-version="true"></script>
    <link rel="stylesheet" type="text/css" href="~/js/wined/jquery/magnific/magnific-popup.css" asp-append-version="true" />
    <script src="~/js/wined/themejs/tabs.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/jquery.countdown.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/jquery.countdown.min.js" asp-append-version="true"></script>
    <!-- Theme End -->
    <script src="~/js/wined/common.js" asp-append-version="true"></script>
    <script src="~/js/wined/themejs/parallax.js" asp-append-version="true"></script>
</head>
<body class="checkout-cart   layout-1">
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="ShoppingCart" asp-action="Index">
                        @this.ViewData["Title"]
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- ======= Quick view JS ========= -->
    <script>

        function quickbox() {
            if ($(window).width() > 767) {
                $('.quickview').magnificPopup({
                    type: 'iframe',
                    delegate: 'a',
                    preloader: true,
                    tLoading: 'Loading image #%curr%...',
                });
            }
        }
        jQuery(document).ready(function () { quickbox(); });
        jQuery(window).resize(function () { quickbox(); });

    </script>

    <div id="checkout-cart" class="container">
        <div class="row">
            <div id="content" class="col-sm-12">
                <br />
                <h2 class="page-title">
                    your bag
                    &nbsp;(@Model.Products.Count() @(Model.Products.Count() > 1 ? "items" : "item"))
                </h2>
                @{ decimal subTotalPrice = 0; }
                <form action="" method="post" enctype="multipart/form-data">
                    <div class="table-responsive">
                        <table class="table table-bordered shopping-cart">
                            <thead>
                                <tr>
                                    <td class="text-center">
                                        Image
                                    </td>
                                    <td class="text-left">
                                        Product Name
                                    </td>
                                    <td class="text-left">
                                        Product Code
                                    </td>
                                    <td class="text-left">
                                        Quantity
                                    </td>
                                    <td class="text-left">
                                        @*Action*@
                                    </td>
                                    <td class="text-right">
                                        Unit Price
                                    </td>
                                    <td class="text-right">
                                        Total
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in Model.Products)
                                {
                                    <tr>
                                        <td class="text-center">
                                            <a asp-area="" asp-controller="Wines" asp-action="SingleWine" asp-route-id="@product.ProductId">
                                                <img src="@product.ImageUrl" alt="@product.ProductName" title="@product.ProductName" class="custom-image-box" />
                                            </a>
                                        </td>
                                        <td class="text-left">
                                            <a asp-area="" asp-controller="Wines" asp-action="SingleWine" asp-route-id="@product.ProductId">
                                                @product.ProductName
                                            </a>
                                        </td>
                                        <td class="text-left">
                                            @product.ProductCode
                                        </td>
                                        <td class="t-qty">
                                            <div class="qty-box">
                                                <div class="quantity buttons_added">
                                                    <a asp-area="" asp-controller="ShoppingCart" asp-action="UpdateQuantity" asp-route-productId="@product.ProductId" asp-route-increase="false" class="minus">
                                                        -
                                                    </a>
                                                    <input type="number" step="1" min="1" max="100" value="@product.Quantity" class="qty text" size="2" readonly>
                                                    <a asp-area="" asp-controller="ShoppingCart" asp-action="UpdateQuantity" asp-route-productId="@product.ProductId" asp-route-increase="true" class="plus">
                                                        +
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-left">
                                            <div class="input-group btn-block" style="max-width: 200px;">
                                                <span class="input-group-btn">
                                                    <a asp-area="" asp-controller="ShoppingCart" asp-action="Delete" asp-route-id="@product.ProductId">
                                                        <button type="button" data-toggle="tooltip" title="Remove" class="btn btn-danger">
                                                            <i class="fa fa-times-circle"></i>
                                                        </button>
                                                    </a>
                                                </span>
                                            </div>
                                        </td>

                                        <td class="text-right">
                                            @if (product.Quantity >= 10)
                                            {
                                                @:S$@product.PriceAbove10
                                            }
                                            else if (product.Quantity is < 10 and >= 5)
                                            {
                                                @:S$@product.Price5To10
                                            }
                                            else
                                            {
                                                @:S$@product.ProductPrice
                                            }
                                        </td>
                                        <td class="text-right">
                                            @if (product.Quantity >= 10)
                                            {
                                                @:S$@product.TotalPriceAbove10
                                                subTotalPrice += (product.PriceAbove10 * product.Quantity);
                                            }
                                            else if (product.Quantity is < 10 and >= 5)
                                            {
                                                @:S$@product.TotalPrice5To10
                                                subTotalPrice += (product.Price5To10 * product.Quantity);
                                            }
                                            else
                                            {
                                                @:S$@product.TotalPrice
                                                subTotalPrice += (product.ProductPrice * product.Quantity);
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </form>
                <h2>
                    What would you like to do next?
                </h2>
                <br />
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8">
                        <table class="table table-bordered">
                            <tr>
                                <td class="text-right">
                                    <strong>
                                        Sub-Total:
                                    </strong>
                                </td>
                                <td class="text-right">
                                    @*S$@Model.Subtotal*@
                                    S$@subTotalPrice
                                </td>
                            </tr>
                            @*<tr>
                                    <td class="text-right">
                                        <strong>
                                            Eco Tax (-2.00):
                                        </strong>
                                    </td>
                                    <td class="text-right">
                                        $2.00
                                    </td>
                                </tr>*@
                            @*<tr>
                                    <td class="text-right">
                                        <strong>
                                            VAT (20%):
                                        </strong>
                                    </td>
                                    <td class="text-right">
                                        S$@Model.VAT
                                    </td>
                                </tr>*@
                            <tr>
                                <td class="text-right">
                                    <strong>
                                        Total:
                                    </strong>
                                </td>
                                @*<td class="text-right">
                                        S$@Model.GrandTotalPrice
                                    </td>*@
                                <td class="text-right">
                                    @*S$@Model.Subtotal*@
                                    S$@subTotalPrice
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="buttons clearfix">
                    <div class="pull-left">
                        <a asp-area="" asp-controller="Wines" asp-action="AllWines" class="btn btn-default">
                            Continue Shopping
                        </a>
                    </div>
                    <div class="pull-right">
                        <a asp-area="" asp-controller="Orders" asp-action="Create" class="btn btn-primary">
                            Checkout
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
    </div>
    <br />
</body>
</html>
