@model BulgarianWines.Web.ViewModels.Orders.OrderViewModel

@{
    var productClassName = string.Empty;

}
<div class="col-md-7">
    <form>
        <h5>Order Information</h5>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="UserFirstName"></label>
                <input asp-for="UserFirstName" disabled />
            </div>
            <div class="col-md-6">
                <label asp-for="Email"></label>
                <input asp-for="Email" disabled />
            </div>
            <div class="col-md-6">
                <label asp-for="Phone"></label>
                <input asp-for="Phone" disabled />
            </div>
            <div class="col-md-6">
                <label asp-for="Address"></label>
                <input asp-for="Address" disabled />
            </div>
            <div class="col-md-6">
                <label asp-for="Id"></label>
                <input asp-for="Id" disabled />
            </div>
            <div class="col-md-6">
                <label asp-for="CreatedOn"></label>
                <time class="disabled" datetime="@Model.CreatedOn"></time>
            </div>
            <div class="col-md-6">
                <label asp-for="PaymentType"></label>
                <input asp-for="PaymentType" disabled />
            </div>
            <div class="col-md-6">
                <label asp-for="PaymentStatus"></label>
                <input asp-for="PaymentStatus" disabled />
            </div>
            <div class="col-md-6">
                <label asp-for="Status"></label>
                <input asp-for="Status" disabled />
            </div>
            @if (Model.IsDelivered)
            {
                <div class="col-md-6">
                    <label asp-for="DeliveredOn"></label>
                    <time class="disabled" datetime="@Model.DeliveredOn"></time>
                </div>
            }
        </div>
    </form>
</div>
<div class="col-md-5">
    <div class="row">
        <div class="col-md-12">
            <div class="order-review">
                <h5>Order Review</h5>
                <div class="review-box">
                    <ul class="list-unstyled">
                        <li>Product <span>Total</span></li>
                        @foreach (var product in Model.Products)
                        {
                            productClassName = (product.WineId == Model.Products.Last().WineId) ? "last-product" : string.Empty;
                            <li class="d-flex justify-content-between @productClassName">
                                <div class="pro">
                                    <a asp-area="" asp-controller="Wines" asp-action="Details" asp-route-id="@product.WineId">
                                        <img src="@product.ImageUrl" />
                                        <p>@product.WineName</p>
                                    </a>
                                    <span>@product.Quantity X $@product.Price</span>
                                </div>
                                <div class="prc">
                                    <p>$@product.TotalPrice</p>
                                </div>
                            </li>
                        }
                        <li class="sub-total">Sub Total <span>$@(Model.TotalPrice - Model.DeliveryPrice)</span></li>
                        <li class="shipping-and-tax">Shipping <span>$@Model.DeliveryPrice</span></li>
                        <li>Grand Total <span>$@Model.TotalPrice</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
