@using BulgarianWines.Web.ViewModels.Wines
@model BulgarianWines.Web.ViewModels.Administration.Categories.CategoryProductsViewModel
@{
    this.ViewData["Title"] = Model.Name;
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
</head>

<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Categories" asp-action="Products" asp-route-categoryId="@Model.Id">
                    @Model.Name.ToUpper()
                </a>
            </li>
        </ul>
    </div>
</div>

<div id="Tab_Category_Slider" class="category_tab box">
    <div class="container">
        <br />
        <div class="title-wrapper">
            <div class="box-heading">
                @this.ViewData["Title"]
            </div>
        </div>
        <div class="tab-pane active" id="gattinara">
            <div class="owl-carousel owl-demo-tabcate owl-theme" style="opacity: 1; display: block">
                <div class="owl-wrapper-outer">
                    <div class="owl-wrapper" style="left: 0px; display: block;">
                        @if (@Model.Products.Any())
                        {
                            <div class="owl-item">
                                <div class="product-block-wrapper">
                                    <div class="item text-center product-innerblock">

                                        @foreach (var product in @Model.Products)
                                        {
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                                <div class="product-block product-thumb transition">
                                                    <div class="product-block-inner">
                                                        <div class="image">
                                                            <a asp-controller="Wines" asp-action="SingleWine" asp-route-id="@product.Id">
                                                                <img class="img-responsive reg-image" src="@product.ImageUrl." title="@product.Name" alt="@product.Name" style="height: 100%; width: 100%" />
                                                                <img class="img-responsive hover-image" src="@product.ImageUrl" title="@product.Name" alt="@product.Name" style="height: 100%; width: 100%" />
                                                            </a>

                                                            <div class="button-group">
                                                                @*<button type="button" data-placement="right" title="Add to Cart" class="addtocart" onclick="cart.add('51 ');">
                                                                        Add to Cart
                                                                    </button>*@
                                                                <button class="wishlist" type="button" data-placement="right" title="Add to Wish List " onclick="wishlist.add('@product.Id');">
                                                                    <a asp-area="" asp-controller="Favorites" asp-action="Add" asp-route-id="@product.Id" class="it-fav" data-toggle="tooltip" data-placement="left" title="Favorite">
                                                                        <i class="fas fa-heart mr-0 pt-1"></i>
                                                                    </a>
                                                                </button>

                                                                <button class="slowView" type="button" data-placement="right" title="Quick View" onclick="wishlist.add('@product.Id');">
                                                                    <a asp-area="" asp-controller="Wines" asp-action="SingleWine" asp-route-id="@product.Id" class="it-fav" data-toggle="tooltip" data-placement="left" title="Quick View">
                                                                        Quick VIew
                                                                    </a>
                                                                </button>
                                                                

                                                                @*<div class="quickview" data-placement="right" title="Quick view">
                                                                    <a asp-controller="Wines" asp-action="SingleWine" asp-route-id="@product.Id">
                                                                        Quick View
                                                                    </a>
                                                                </div>*@
                                                                @*<button class="compare" type="button" data-placement="right" title="Compare this Product " onclick="compare.add('51 ');"></button>*@
                                                            </div>
                                                        </div>
                                                        <div class="product-details">
                                                            <div class="caption">
                                                                <h4>
                                                                    <a asp-controller="Wines" asp-action="SingleWine" asp-route-id="@product.Id">
                                                                        @product.Name
                                                                    </a>
                                                                </h4>
                                                                <p class="price">
                                                                    @*$122.00
                                                                    <span class="price-tax">
                                                                        Ex Tax: $100.00
                                                                    </span>*@
                                                                </p>

                                                                <div class="rating">
                                                                    <partial name="_WineRatingPartial" model="new WineRatingViewModel { AverageRating = Model.AverageRating }" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                        }
                        else
                        {
                            <div id="inner" class="centerFlex">
                                There are no wines in this category
                            </div>
                        }
                    </div>
                </div>
                @*<div class="owl-controls clickable">
                        <div class="owl-buttons">
                            <div class="owl-prev">
                                <span class="left">
                                    <a class="fa prev fa-angle-left"></a>
                                </span>
                            </div>
                            <div class="owl-next">
                                <span class="right">
                                    <a class="fa prev fa-angle-right"></a>
                                </span>
                            </div>
                        </div>
                    </div>*@
            </div>
            <hr />
            <partial name="_PagingPartial" />
        </div>
    </div>
</div>


<form method="get" id="hiddenForm" asp-controller="Categories" asp-action="Products" hidden>
    <input asp-for="@Model.ItemsPerPage" />
    <input asp-for="@Model.Sorting" />
</form>

@section Scripts {
    <script>
        function submitForm() {
            var form = this.document.getElementById("hiddenForm");
            // Items per page
            var itemsPerPageSelectBox = this.document.querySelector("select#ItemsPerPage");
            var itemsPerPageInputField = this.document.querySelector("input#ItemsPerPage");
            itemsPerPageInputField.setAttribute("value", itemsPerPageSelectBox.value);
            // Sorting criteria
            var sortingSelectBox = this.document.querySelector("select#Sorting");
            var sortingInputField = this.document.querySelector("input#Sorting");
            sortingInputField.setAttribute("value", sortingSelectBox.value);
            form.submit();
        }
    </script>
}
