@model BulgarianWines.Web.ViewModels.Administration.Wines.EditProductViewModel
@{
    var categoriesItems = this.Model.CategoriesItems
        .Select(x =>
            new SelectListItem(x.Value, x.Key));
    var volumeItems = this.Model
.VolumesItems
.Select(x =>
    new SelectListItem(x.Value, x.Key));
    var harvestItems = this.Model
        .HarvestsItems
        .Select(x =>
            new SelectListItem(x.Value, x.Key));
    var varietyItems = this.Model
        .VarietyItems
        .Select(x =>
            new SelectListItem(x.Value, x.Key));
    var originItems = this.Model
.OriginsItems
.Select(x =>
    new SelectListItem(x.Value, x.Key));
    var availabilityItems = this.Model
        .AvailabilityItems
        .Select(x =>
            new SelectListItem(x.Value, x.Key));
}

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
</head>

<h2>Edit</h2>

<h4>@Model.Name</h4>
<hr />
<div class="row">
    <div class="col-md-7">
        <form asp-area="Administration" asp-controller="Wines" asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <textarea asp-for="Name" class="form-control edit-with-tinymce"></textarea>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCode" class="control-label"></label>
                <textarea asp-for="ProductCode" class="form-control edit-with-tinymce"></textarea>
                <span asp-validation-for="ProductCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control edit-with-tinymce"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="OriginId" class="control-label"></label>
                    <select asp-for="OriginId" class="form-control" asp-items="originItems"></select>
                    <span asp-validation-for="OriginId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="UploadedImages" class="control-label"></label>
                    <input asp-for="UploadedImages" class="form-control" />
                    <span asp-validation-for="UploadedImages" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="VarietyId" class="control-label"></label>
                    <select asp-for="VarietyId" class="form-control" asp-items="varietyItems"></select>
                    <span asp-validation-for="VarietyId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="categoriesItems"></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="VolumeId" class="control-label"></label>
                    <select asp-for="VolumeId" class="form-control" asp-items="volumeItems"></select>
                    <span asp-validation-for="VolumeId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="HarvestId" class="control-label"></label>
                    <select asp-for="HarvestId" class="form-control" asp-items="harvestItems"></select>
                    <span asp-validation-for="HarvestId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="AvailabilityId" class="control-label"></label>
                    <select asp-for="AvailabilityId" class="form-control" asp-items="availabilityItems"></select>
                    <span asp-validation-for="AvailabilityId"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Price5To10" class="control-label"></label>
                    <input asp-for="Price5To10" class="form-control" />
                    <span asp-validation-for="Price5To10" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="PriceAbove10" class="control-label"></label>
                    <input asp-for="PriceAbove10" class="form-control" />
                    <span asp-validation-for="PriceAbove10" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DeletedOn" class="control-label"></label>
                <input asp-for="DeletedOn" class="form-control" disabled="disabled" />
                <span asp-validation-for="DeletedOn" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" disabled="disabled" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedOn" class="control-label"></label>
                <input asp-for="ModifiedOn" class="form-control" disabled="disabled" />
                <span asp-validation-for="ModifiedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <table class="table align-middle table-striped table-hover table-bordered" style="margin-left: 100px;">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var image in Model.Images)
                {
                    <tr>
                        <td style="width: 50%; height: 50%; text-align: center; vertical-align: auto">
                            <img src="@image.ImageUrl" style="max-height: 100%; max-width: 100%" alt="@Model.Name" />
                        </td>
                        <td>
                            <div>
                                <a asp-controller="Wines" asp-action="DeleteImage" asp-route-id="@image.Id" class="btn btn-danger btn-sm">
                                    Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div>
    <a asp-action="Index">
        Back to List
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/tinymce/tinymce.min.js" asp-append-version="true"></script>
    <script type="text/javascript">
        tinymce.init({
            forced_root_block: false,
            selector: "textarea.edit-with-tinymce",
            relative_urls: false,
            remove_script_host: false,
            convert_urls: true,
            plugins: [
                "image paste table link code media fullscreen wordcount searchreplace lists"
            ],
            toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent"
        });
    </script>
}
