@model IEnumerable<BulgarianWines.Web.ViewModels.Wines.ProductViewModel>

@{
    ViewData["Title"] = "All Wines";
}

<link href="~/css/showmore.css" rel="stylesheet" asp-append-version="true" />

<h2>
    All Wines
</h2>

<p>
    <a asp-action="Create">
        Create New
    </a>
</p>
<div class="table-responsive">
    <table class="table align-middle table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Origin</th>
            <th>Variety</th>
            <th>Category</th>
            <th>Volume</th>
            <th>Harvest</th>
            <th>Availability</th>
            <th>IsDeleted</th>
            <th>CreatedOn</th>
            <th>ModifiedOn</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @if (!Model.Any())
        {
            <tr class="row">
                <td class="col-12 d-flex justify-content-center">
                    <strong>
                        No products
                    </strong>
                </td>
            </tr>
        }
        @foreach (var item in this.Model)
        {
            <tr>
                <td style="width: 100%; height: 100%; text-align: center; vertical-align: auto">
                    <img src="@item.ImageUrl" style="max-height: 100%; max-width: 100%" alt="@item.Name" />
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    <div class="comment more">
                        @item.Description
                    </div>
                </td>
                <td>
                    @item.OriginName
                </td>
                <td>
                    @item.VarietyName
                </td>
                <td>
                    @item.CategoryName
                </td>
                <td>
                    @item.VolumeQuantity
                </td>
                <td>
                    @item.HarvestYear
                </td>
                <td>
                    @item.AvailabilityStatus
                </td>
                <td>
                    @item.IsDeleted
                    @item.DeletedOn
                </td>
                <td>
                    @item.CreatedOn
                </td>
                <td>
                    @item.ModifiedOn
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">
                        Edit
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">
                        Details
                    </a>
                    @if (item.IsDeleted)
                    {
                        <a asp-controller="Wines" asp-action="Restore" asp-route-id="@item.Id" class="btn btn-warning">
                            Restore
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Wines" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                            Delete
                        </a>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var showChar = 100;
            var ellipsestext = "...";
            var moretext = "more";
            var lesstext = "less";
            $('.more').each(function () {
                var content = $(this).html();

                if (content.length > showChar) {

                    var c = content.substr(0, showChar);
                    var h = content.substr(showChar - 1, content.length - showChar);

                    var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

                    $(this).html(html);
                }

            });

            $(".morelink").click(function () {
                if ($(this).hasClass("less")) {
                    $(this).removeClass("less");
                    $(this).html(moretext);
                } else {
                    $(this).addClass("less");
                    $(this).html(lesstext);
                }
                $(this).parent().prev().toggle();
                $(this).prev().toggle();
                return false;
            });
        });
    </script>>
}
