@model BulgarianWines.Web.ViewModels.ShoppingCart.ShoppingCartViewModel

<div class="cart-body">
    <div class="close-btn">
        <button class="close-cart"><img src="~/images/close.png" alt="">Close</button>
    </div>
    <div class="crt-bd-box">
        <div class="cart-heading text-center">
            <h5>Shopping Cart</h5>
        </div>
        <div class="cart-content">
            @if (!Model.Products.Any())
            {
                <h3 class="text-center">No products</h3>
            }
            @foreach (var product in Model.Products)
            {
                <div class="content-item d-flex justify-content-between">
                    <div class="cart-img">
                        <a asp-area="" asp-controller="Wines" asp-action="Details" asp-route-id="@product.ProductId">
                            <img src="@product.ImageUrl" class="custom-cart-img">
                        </a>
                    </div>
                    <div class="cart-disc">
                        <p>
                            <a asp-area="" asp-controller="Wines" asp-action="Details" asp-route-id="@product.ProductId">@product.ProductName</a>
                        </p>
                        <span>@product.Quantity x $@product.ProductPrice</span>
                    </div>
                    <div class="delete-btn">
                        <a asp-area="" asp-controller="ShoppingCart" asp-action="Delete" asp-route-id="@product.ProductId">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </div>
                </div>
            }
        </div>
        <div class="cart-btm">
            <p class="text-right">Grand Total: <span>$@Model.GrandTotalPrice</span></p>
            <a asp-area="" asp-controller="Orders" asp-action="Create">Checkout</a>
        </div>
    </div>
</div>
<div class="cart-overlay"></div>
