@model IEnumerable<BulgarianWines.Web.ViewModels.Favorites.FavoriteProductViewModel>

@{
    this.ViewData["Title"] = "Favorite Products";
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
</head>

<!-- Wishlist -->
<section class="shopping-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-table wsh-list table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="t-pro">
                                    Product
                                </th>
                                <th class="t-price">
                                    Price
                                </th>
                                @*<th class="t-total">
                                        Add To Cart
                                    </th>*@
                                <th class="t-rem">

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var wine in Model)
                            {
                                <tr>
                                    <td class="t-pro d-flex">
                                        <div class="t-img">
                                            <a asp-area="" asp-controller="Wines" asp-action="SingleWine" asp-route-id="@wine.WineId">
                                                <img src="@wine.ImageUrl" style="width: 100%; height: 100%">
                                            </a>
                                        </div>
                                        <div class="t-content">
                                            <p class="t-heading">
                                                <a asp-area="" asp-controller="Wines" asp-action="SingleWine" asp-route-id="@wine.WineId">
                                                    @wine.WineName
                                                </a>
                                            </p>
                                            @*<partial name="_ProductRatingPartial" model="new XeMart.Web.ViewModels.Products.ProductRatingViewModel { AverageRating = product.AverageRating, ShowAverageRating = false }" />*@
                                        </div>
                                    </td>
                                    <td class="t-price">
                                        <a asp-controller="Home" asp-action="Contact">
                                            Ask for price
                                        </a>
                                    </td>
                                    @*<td class="t-add">
                                            <button type="button" name="button">
                                                Add to Cart
                                            </button>
                                        </td>*@
                                    <td class="t-rem">
                                        <a asp-area="" asp-controller="Favorites" asp-action="Delete" asp-route-id="@wine.WineId">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                            @*<tr>
                                    <td class="t-pro d-flex">
                                        <div class="t-img">
                                            <a href=""><img src="~/images/subcategories/sbar-1.png" alt=""></a>
                                        </div>
                                        <div class="t-content">
                                            <p class="t-heading"><a href="">Samsung Smart Led Tv</a></p>
                                            <ul class="list-unstyled list-inline rate">
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td class="t-price">$129.00</td>
                                    <td class="t-add"><button type="button" name="button">Add to Cart</button></td>
                                    <td class="t-rem"><a href=""><i class="fa fa-trash-o"></i></a></td>
                                </tr>*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Wishlist -->