@model IEnumerable<BulgarianWines.Web.ViewModels.Favorites.FavoriteProductViewModel>

@{
    this.ViewData["Title"] = "Favorite Products";
}

<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Wish List</title>
    <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js"></script>
    <!-- <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" /> -->
    <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js"></script>
    <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">

    <link href="catalog/view/theme/wined/stylesheet/stylesheet.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="catalog/view/theme/wined/stylesheet/themecss/lightbox.css" />
    <link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/magnific/magnific-popup.css" />
    <link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/owl-carousel/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/owl-carousel/owl.transitions.css" />
    <link rel="stylesheet" type="text/css" href="catalog/view/theme/wined/stylesheet/themecss/carousel.css" />
    <link rel="stylesheet" type="text/css" href="catalog/view/theme/wined/stylesheet/themecss/custom.css" />
    <link rel="stylesheet" type="text/css" href="catalog/view/theme/wined/stylesheet/themecss/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="catalog/view/theme/wined/stylesheet/themecss/animate.css" />
    <!--  -->

    <script src="catalog/view/javascript/lightbox/lightbox-2.6.min.js"></script>
    <script src="catalog/view/javascript/common.js"></script>
    <link href="http://demos.thementic.com/opencart/OPC01/OPC0100034/image/catalog/cart.png" rel="icon" />
    <!-- Theme Start -->

    <script type="text/javascript" src="catalog/view/javascript/themejs/custom.js"></script>
    <script type="text/javascript" src="catalog/view/javascript/themejs/jstree.min.js"></script>
    <script type="text/javascript" src="catalog/view/javascript/themejs/carousel.min.js"></script>
    <script type="text/javascript" src="catalog/view/javascript/themejs/productcarosel.min.js"></script>
    <script type="text/javascript" src="catalog/view/javascript/themejs/jquery.custom.min.js"></script>
    <script type="text/javascript" src="catalog/view/javascript/themejs/jquery.formalize.min.js"></script>
    <script type="text/javascript" src="catalog/view/javascript/themejs/jquery.elevatezoom.min.js"></script>
    <script type="text/javascript" src="catalog/view/javascript/themejs/bootstrap-notify.min.js"></script>
    <script type="text/javascript" src="catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="catalog/view/javascript/themejs/owl.carousel.min.js"></script>
    <link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/magnific/magnific-popup.css" />
    <script src="catalog/view/javascript/themejs/tabs.js"></script>
    <script type="text/javascript" src="catalog/view/javascript/jquery.countdown.js"></script>
    <script type="text/javascript" src="catalog/view/javascript/jquery.countdown.min.js"></script>
    <!-- Theme End -->

    <script src="catalog/view/javascript/common.js"></script>
    <script src="catalog/view/javascript/themejs/parallax.js"></script>
</head>
<body class="account-wishlist   layout-2 left-col">
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Favorites" asp-action="All">
                        @this.ViewData["Title"]
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- ======= Quick view JS ========= -->
    <script>
        function quickbox() {
            if ($(window).width() > 767) {
                $('.quickview').magnificPopup({
                    type: 'iframe',
                    delegate: 'a',
                    preloader: true,
                    tLoading: 'Loading image #%curr%...',
                });
            }
        }
        jQuery(document).ready(function () { quickbox(); });
        jQuery(window).resize(function () { quickbox(); });
    </script>

    <div id="account-wishlist" class="container">
        <div class="row">
            <aside id="column-left" class="col-sm-3 hidden-xs">
                <div class="box">
                    <div class="box-heading">
                        Account
                    </div>
                    <div class="list-group">
                        <a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=account/account " class="list-group-item">
                            My Account
                        </a>
                        <a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=account/edit " class="list-group-item">Edit Account</a> <a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=account/password" class="list-group-item">
                            Password
                        </a>
                        <a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=account/address" class="list-group-item">Address Book</a> <a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=account/wishlist " class="list-group-item">
                            Wish List
                        </a> <a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=account/order " class="list-group-item">Order History </a> <a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=account/download" class="list-group-item">
                            Downloads
                        </a><a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=account/recurring" class="list-group-item">
                            Recurring payments
                        </a> <a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=account/reward " class="list-group-item">Reward Points </a> <a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=account/return" class="list-group-item">
                            Returns
                        </a> <a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=account/transaction" class="list-group-item">Transactions </a> <a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=account/newsletter" class="list-group-item">
                            Newsletter
                        </a>
                        <a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=account/logout" class="list-group-item">
                            Logout
                        </a>
                    </div>
                </div>
            </aside>

            <div id="content" class="col-sm-9">
                <br />
                <h2>
                    Account
                </h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <td class="text-center">
                                    Image
                                </td>
                                <td class="text-left">
                                    Product Name
                                </td>
                                <td class="text-left">
                                    Model
                                </td>
                                <td class="text-right">
                                    Stock
                                </td>
                                <td class="text-right">
                                    Unit Price
                                </td>
                                <td class="text-right">
                                    Action
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in Model)
                            {
                                <tr>
                                    <td class="text-center">
                                        <a asp-area="" asp-controller="Wines" asp-action="SingleWine" asp-route-id="@product.WineId"><img src="@product.ImageUrl" alt="@product.WineName" title="@product.WineName" class="custom-image-box" /></a>
                                    </td>
                                    <td class="text-left">
                                        <a asp-area="" asp-controller="Wines" asp-action="SingleWine" asp-route-id="@product.WineId">
                                            @product.WineName
                                        </a>
                                    </td>
                                    <td class="text-left">
                                        Product 14
                                    </td>
                                    <td class="text-right">
                                        In Stock
                                    </td>
                                    <td class="text-right">
                                        <div class="price">
                                            S$@product.WinePrice
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <button type="button" onclick="cart.add('41');" data-toggle="tooltip" title="Add to Cart" class="btn btn-primary">
                                            <i class="fa fa-shopping-cart"></i>
                                        </button>
                                        <a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=account/wishlist&amp;remove=41" data-toggle="tooltip" title="Remove" class="btn btn-danger">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="buttons clearfix">
                    <div class="pull-right">
                        <a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=account/account" class="btn btn-primary">
                            Continue
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
