@model BulgarianWines.Web.ViewModels.Wines.SingleProductViewModel
@{
    this.ViewData["Title"] = Model.Name;
}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        @ViewData["Title"]
    </title>
    <base />
    <script src="~/js/wined/jquery/jquery-2.1.1.min.js" asp-append-version="true"></script>
    <!-- <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" /> -->
    <script src="~/js/wined/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
    <link href="~/js/wined/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">

    <link href="~/css/wined/stylesheet.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/wined/themecss/lightbox.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/js/wined/jquery/magnific/magnific-popup.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/js/wined/jquery/owl-carousel/owl.carousel.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/js/wined/jquery/owl-carousel/owl.transitions.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/wined/themecss/carousel.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/wined/themecss/custom.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/wined/themecss/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/wined/themecss/animate.css" asp-append-version="true" />



    <!-- <link href="style.href" type="text/css" rel="style.rel" media="style.media" />
    <link href="style.href" type="text/css" rel="style.rel" media="style.media" />
     -->

    <script src="~/js/wined/lightbox/lightbox-2.6.min.js" asp-append-version="true"></script>
    <link href="/js/wined/jquery/magnific/magnific-popup.css" type="text/css" rel="stylesheet" media="screen" asp-append-version="true"/>
    <link href="~/js/wined/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen" asp-append-version="true"/>
    <script src="~/js/wined/jquery/magnific/jquery.magnific-popup.min.js" asp-append-version="true"></script>
    <script src="~/js/wined/jquery/datetimepicker/moment/moment.min.js" asp-append-version="true"></script>
    <script src="~/js/wined/jquery/datetimepicker/moment/moment-with-locales.min.js" asp-append-version="true"></script>
    <script src="~/js/wined/jquery/datetimepicker/bootstrap-datetimepicker.min.js" asp-append-version="true"></script>
    <script src="~/js/wined/common.js" asp-append-version="true"></script>
    <link href="index52a0.html?route=product/product&amp;product_id=51" rel="canonical" />
    <link href="~/images/wined/cart.png" rel="icon" />
    <!-- Theme Start -->

    <script type="text/javascript" src="~/js/wined/themejs/custom.js"></script>
    <script type="text/javascript" src="~/js/wined/themejs/jstree.min.js"></script>
    <script type="text/javascript" src="~/js/wined/themejs/carousel.min.js"></script>
    <script type="text/javascript" src="~/js/wined/themejs/productcarosel.min.js"></script>
    <script type="text/javascript" src="~/js/wined/themejs/jquery.custom.min.js"></script>
    <script type="text/javascript" src="~/js/wined/themejs/jquery.formalize.min.js"></script>
    <script type="text/javascript" src="~/js/wined/themejs/jquery.elevatezoom.min.js"></script>
    <script type="text/javascript" src="~/js/wined/themejs/bootstrap-notify.min.js"></script>
    <script type="text/javascript" src="~/js/wined/jquery/magnific/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/js/wined/themejs/owl.carousel.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/js/wined/jquery/magnific/magnific-popup.css" />
    <script src="~/js/wined/themejs/tabs.js"></script>
    <script type="text/javascript" src="~/js/wined/jquery.countdown.js"></script>
    <script type="text/javascript" src="~/js/wined/jquery.countdown.min.js"></script>
    <!-- Theme End -->

    <script src="~/js/wined/common.js"></script>
    <script src="~/js/wined/themejs/parallax.js"></script>


</head>


<body class="product-product-51   layout-1">
    <div id="breadcrumb">
        <div class="container">

        </div>
    </div>
    <!-- ======= Quick view JS ========= -->
    <script>

        function quickbox() {
            if ($(window).width() > 767) {
                $('.quickview').magnificPopup({
                    type: 'iframe',
                    delegate: 'a',
                    preloader: true,
                    tLoading: 'Loading image #%curr%...',
                });
            }
        }
        jQuery(document).ready(function () { quickbox(); });
        jQuery(window).resize(function () { quickbox(); });

    </script>

    <div class="productpage">
        <div id="product-product" class="container">
            <ul class="breadcrumb">
                <li>
                    <a href="index9328.html?route=common/home">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li>
                    <a href="index81d2.html?route=product/category&amp;path=49">
                        sagrantino
                    </a>
                </li>
                <li>
                    <a href="index0a1a.html?route=product/product&amp;path=49&amp;product_id=51">
                        aenean dignissim
                    </a>
                </li>
            </ul>
            <div class="row">
                <div id="content" class="col-sm-12 productpage">
                    <div class="row">
                        <div class="col-sm-8 product-left">
                            <div class="product-info">
                                <div class="left product-image thumbnails">

                                    <!-- Cloud-Zoom Image Effect Start -->
                                    <div class="image">
                                        <a class="thumbnail" href="image/cache/catalog/demo/product/1-686x686.jpg" title="@Model.Name">
                                            <img id="tmzoom" src="@Model.ImageUrl" data-zoom-image="@Model.ImageUrl" title="@Model.Name" alt="@Model.Name" />
                                        </a>
                                    </div>

                                    <div class="additional-carousel">
                                        <div class="customNavigation">
                                            <span class="prev">&nbsp;</span>
                                            <span class="next">&nbsp;</span>
                                        </div>

                                        <div id="additional-carousel" class="image-additional product-carousel">

                                            <div class="slider-item">
                                                <div class="product-block">
                                                    <a href="image/cache/catalog/demo/product/1-686x686.jpg" title="aenean dignissim" class="elevatezoom-gallery" data-image="http://demos.thementic.com/opencart/OPC01/OPC0100034/image/cache/catalog/demo/product/1-485x485.jpg" data-zoom-image="http://demos.thementic.com/opencart/OPC01/OPC0100034/image/cache/catalog/demo/product/1-686x686.jpg">
                                                        <img src="image/cache/catalog/demo/product/1-485x485.jpg" width="74" height="74" title="aenean dignissim" alt="aenean dignissim" />
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="slider-item">
                                                <div class="product-block">
                                                    <a href="image/cache/catalog/demo/product/15-686x686.jpg" title="aenean dignissim" class="elevatezoom-gallery" data-image="http://demos.thementic.com/opencart/OPC01/OPC0100034/image/cache/catalog/demo/product/15-485x485.jpg" data-zoom-image="http://demos.thementic.com/opencart/OPC01/OPC0100034/image/cache/catalog/demo/product/15-686x686.jpg">
                                                        <img src="image/cache/catalog/demo/product/15-485x485.jpg" width="74" height="74" title="aenean dignissim" alt="aenean dignissim" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="slider-item">
                                                <div class="product-block">
                                                    <a href="image/cache/catalog/demo/product/14-686x686.jpg" title="aenean dignissim" class="elevatezoom-gallery" data-image="http://demos.thementic.com/opencart/OPC01/OPC0100034/image/cache/catalog/demo/product/14-485x485.jpg" data-zoom-image="http://demos.thementic.com/opencart/OPC01/OPC0100034/image/cache/catalog/demo/product/14-686x686.jpg">
                                                        <img src="image/cache/catalog/demo/product/14-485x485.jpg" width="74" height="74" title="aenean dignissim" alt="aenean dignissim" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="slider-item">
                                                <div class="product-block">
                                                    <a href="image/cache/catalog/demo/product/13-686x686.jpg" title="aenean dignissim" class="elevatezoom-gallery" data-image="http://demos.thementic.com/opencart/OPC01/OPC0100034/image/cache/catalog/demo/product/13-485x485.jpg" data-zoom-image="http://demos.thementic.com/opencart/OPC01/OPC0100034/image/cache/catalog/demo/product/13-686x686.jpg">
                                                        <img src="image/cache/catalog/demo/product/13-485x485.jpg" width="74" height="74" title="aenean dignissim" alt="aenean dignissim" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="slider-item">
                                                <div class="product-block">
                                                    <a href="image/cache/catalog/demo/product/10-686x686.jpg" title="aenean dignissim" class="elevatezoom-gallery" data-image="http://demos.thementic.com/opencart/OPC01/OPC0100034/image/cache/catalog/demo/product/10-485x485.jpg" data-zoom-image="http://demos.thementic.com/opencart/OPC01/OPC0100034/image/cache/catalog/demo/product/10-686x686.jpg">
                                                        <img src="image/cache/catalog/demo/product/10-485x485.jpg" width="74" height="74" title="aenean dignissim" alt="aenean dignissim" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="slider-item">
                                                <div class="product-block">
                                                    <a href="image/cache/catalog/demo/product/11-686x686.jpg" title="aenean dignissim" class="elevatezoom-gallery" data-image="http://demos.thementic.com/opencart/OPC01/OPC0100034/image/cache/catalog/demo/product/11-485x485.jpg" data-zoom-image="http://demos.thementic.com/opencart/OPC01/OPC0100034/image/cache/catalog/demo/product/11-686x686.jpg">
                                                        <img src="image/cache/catalog/demo/product/11-485x485.jpg" width="74" height="74" title="aenean dignissim" alt="aenean dignissim" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="slider-item">
                                                <div class="product-block">
                                                    <a href="image/cache/catalog/demo/product/12-686x686.jpg" title="aenean dignissim" class="elevatezoom-gallery" data-image="http://demos.thementic.com/opencart/OPC01/OPC0100034/image/cache/catalog/demo/product/12-485x485.jpg" data-zoom-image="http://demos.thementic.com/opencart/OPC01/OPC0100034/image/cache/catalog/demo/product/12-686x686.jpg">
                                                        <img src="image/cache/catalog/demo/product/12-485x485.jpg" width="74" height="74" title="aenean dignissim" alt="aenean dignissim" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="additional_default_width" style="display:none; visibility:hidden"></span>
                                    </div>
                                    <!-- Cloud-Zoom Image Effect End-->
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-4 product-right">
                            <div class="product-right-inner">
                                <h3 class="product-title">
                                    @Model.Name
                                </h3>
                                <div class="rating-wrapper">
                                    <span class="fa fa-stack">
                                        <i class="fa fa-star fa-stack-2x"></i>
                                    </span>
                                    <span class="fa fa-stack">
                                        <i class="fa fa-star fa-stack-2x"></i>
                                    </span>
                                    <span class="fa fa-stack">
                                        <i class="fa fa-star fa-stack-2x"></i>
                                    </span>
                                    <span class="fa fa-stack">
                                        <i class="fa fa-star fa-stack-2x"></i>
                                    </span>
                                    <span class="fa fa-stack">
                                        <i class="fa fa-star off fa-stack-2x"></i>
                                    </span>
                                    <a href="#" class="review-count" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">1 reviews</a>  <a href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;" class="write-review">
                                        <i class="fa fa-pencil"></i>
                                        Write a review
                                    </a>


                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        <span class="desc">
                                            Category
                                        </span>
                                        <a asp-controller="Categories" asp-action="Products" asp-route-categoryId="@Model.CategoryId">
                                            @Model.CategoryName
                                        </a>
                                    </li>
                                    <li>
                                        <span class="desc">
                                            Harvest:
                                        </span> @Model.HarvestYear
                                    </li>
                                    <li>
                                        <span class="desc">
                                            Origin:
                                        </span> @Model.OriginName
                                    </li>
                                    <li>
                                        <span class="desc">
                                            Variety:
                                        </span> @Model.VarietyName
                                    </li>
                                    <li>
                                        <span class="desc">
                                            Availability:
                                        </span> In Stock
                                    </li>
                                </ul>
                                <ul class="list-unstyled price">
                                    <li>
                                        <h2>
                                            $122.00
                                        </h2>
                                    </li>
                                    <li class="price-tax">
                                        Ex Tax: $100.00
                                    </li>
                                    <li class="points">
                                        Price in reward points: 400
                                    </li>
                                </ul>
                                <div id="product">
                                    <h3 class="product-option">
                                        Available Options
                                    </h3>
                                    <div class="form-group required">
                                        <label class="control-label" for="input-option228">
                                            Delivery Date
                                        </label>
                                        <div class="input-group date">
                                            <input type="text" name="option[228]" value="2011-04-22" data-date-format="YYYY-MM-DD" id="input-option228" class="form-control" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group cart">
                                        <label class="control-label qty" for="input-quantity">
                                            Qty
                                        </label>
                                        <input type="text" name="quantity" value="1" size="2" id="input-quantity" class="form-control" />
                                        <button type="button" id="button-cart" data-loading-text="Loading..." class="btn btn-primary btn-lg btn-block">
                                            Add to Cart
                                        </button>
                                        <span>  - OR -  </span>
                                        <div class="btn-group">

                                            <button type="button" class="btn btn-default wishlist" title="Add to Wish List" onclick="wishlist.add('51');">Add to Wish List</button>
                                            <button type="button" class="btn btn-default compare" title="Compare this Product" onclick="compare.add('51');">Compare this Product</button>
                                        </div>

                                    </div>
                                    <input type="hidden" name="product_id" value="51" />

                                    <hr>
                                    <!-- AddThis Button BEGIN -->
                                    <div class="addthis_toolbox addthis_default_style" data-url="index52a0.html?route=product/product&amp;product_id=51">
                                        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a> <a class="addthis_button_tweet">
                                        </a>
                                        <a class="addthis_button_pinterest_pinit"></a>
                                        <a class="addthis_counter addthis_pill_style"></a>
                                    </div>
                                    <script type="text/javascript" src="../../../../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script>
                                    <!-- AddThis Button END -->
                                </div>
                            </div>
                        </div>

                        <!-- product page tab code start-->
                        <div id="tabs_info" class="product-tab col-sm-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab-description" data-toggle="tab">Description</a></li>
                                <li><a href="#tab-specification" data-toggle="tab">Specification</a></li>
                                <li><a href="#tab-review" data-toggle="tab">Reviews (1)</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab-description">
                                    <p>
                                        @Model.Description
                                    </p>
                                </div>
                                <div class="tab-pane" id="tab-specification">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <td colspan="2">
                                                    <strong>
                                                        Memory
                                                    </strong>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>test 1</td>
                                                <td>16GB</td>
                                            </tr>
                                        </tbody>
                                        <thead>
                                            <tr>
                                                <td colspan="2">
                                                    <strong>
                                                        Processor
                                                    </strong>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>No. of Cores</td>
                                                <td>4</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="tab-review">
                                    <form class="form-horizontal" id="form-review">
                                        <div id="review"></div>
                                        <h4>Write a review</h4>
                                        <div class="form-group required">
                                            <div class="col-sm-12">
                                                <label class="control-label" for="input-name">
                                                    Your Name
                                                </label>
                                                <input type="text" name="name" value="" id="input-name" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <div class="col-sm-12">
                                                <label class="control-label" for="input-review">
                                                    Your Review
                                                </label>
                                                <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                                                <div class="help-block"><span class="text-danger">Note:</span> HTML is not translated!</div>
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <div class="col-sm-12">
                                                <label class="control-label">Rating</label>
                                                &nbsp;&nbsp;&nbsp; Bad&nbsp;
                                                <input type="radio" name="rating" value="1" />
                                                &nbsp;
                                                <input type="radio" name="rating" value="2" />
                                                &nbsp;
                                                <input type="radio" name="rating" value="3" />
                                                &nbsp;
                                                <input type="radio" name="rating" value="4" />
                                                &nbsp;
                                                <input type="radio" name="rating" value="5" />
                                                &nbsp;Good
                                            </div>
                                        </div>

                                        <div class="buttons clearfix">
                                            <div class="pull-right">
                                                <button type="button" id="button-review" data-loading-text="Loading..." class="btn btn-primary">
                                                    Continue
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="box related product-box">
                        <div class="container">
                            <div class="title-wrapper">
                                <div class="box-heading">
                                    Related Products
                                </div>
                            </div>
                            <div class="box-content">
                                <div id="products-related" class="related-products home-products">
                                    <div class="customNavigation">
                                        <a class="fa prev ">
                                            prev
                                        </a>
                                        <a class="fa next ">
                                            next
                                        </a>
                                    </div>

                                    <div class="box-product product-carousel" id="related-carousel">
                                        <div class="slider-item">
                                            <div class="product-block product-thumb transition">
                                                <div class="product-block-inner">
                                                    <!-- <div class="image">
                                                                    <a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=product/product&amp;product_id=30 "><img src="http://demos.thementic.com/opencart/OPC01/OPC0100034/image/cache/catalog/demo/product/16-380x384.jpg " alt="elementum urna " title="elementum urna " class="img-responsive" /></a>

                                                                                                            </div> -->


                                                    <div class="image">
                                                        <a href="indexf073.html?route=product/product&amp;product_id=30">
                                                            <img src="image/cache/catalog/demo/product/16-380x384.jpg" title="elementum urna" alt="elementum urna" class="img-responsive reg-image" />
                                                            <img class="img-responsive hover-image" src="image/cache/catalog/demo/product/19-380x384.jpg" title="elementum urna" alt="elementum urna" />
                                                        </a>

                                                        <!--
                                                         -->

                                                        <div class="button-group">
                                                            <button type="button" data-placement="right" title="Add to cart" class="addtocart" onclick="cart.add('30 ');">Add to Cart</button>
                                                            <button class="wishlist" type="button" data-placement="right" title="Add to Wish List " onclick="wishlist.add('30 ');"></button>
                                                            <div class="quickview" data-placement="right" title="Quickview"><a href="indexeca1.html?route=product/quick_view&amp;product_id=30">Quick View </a></div>
                                                            <button class="compare" type="button" data-placement="right" title="Compare this Product " onclick="compare.add('30 ');"></button>
                                                        </div>
                                                    </div>

                                                    <div class="caption">
                                                        <h4><a href="indexf073.html?route=product/product&amp;product_id=30">elementum urna </a></h4>




                                                        <p class="price">
                                                            $122.00
                                                            <span class="price-tax">Ex Tax: $100.00</span>

                                                        </p>



                                                        <div class="rating">
                                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                        </div>
                                                    </div>
                                                    <div class="button-group">
                                                        <!-- <button type="button" class="addtocart" onclick="cart.add('30 ');">Add to Cart </button>
                                                        <button class="wishlist" type="button" data-toggle="tooltip" title="Add to Wish List " onclick="wishlist.add('30 ');"></button>
                                                        <button class="compare" type="button" data-toggle="tooltip" title="Compare this Product " onclick="compare.add('30 ');"></button> -->


                                                    </div>

                                                    <!-- Related Products Start -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="related_default_width" style="display:none; visibility:hidden"></span>

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
<!--
        $('select[name=\'recurring_id\'], input[name="quantity"]').change(function () {
            $.ajax({
                url: 'index.php?route=product/product/getRecurringDescription',
                type: 'post',
                data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
                dataType: 'json',
                beforeSend: function () {
                    $('#recurring-description').html('');
                },
                success: function (json) {
                    $('.alert-dismissible, .text-danger').remove();

                    if (json['success']) {
                        $('#recurring-description').html(json['success']);
                    }
                }
            });
        });
        //--></script>
    <script type="text/javascript">
<!--
        $('#button-cart').on('click', function () {
            $.ajax({
                url: 'index.php?route=checkout/cart/add',
                type: 'post',
                data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
                dataType: 'json',
                beforeSend: function () {
                    $('#button-cart').button('loading');
                },
                complete: function () {
                    $('#button-cart').button('reset');
                },
                success: function (json) {
                    $('.alert-dismissible, .text-danger').remove();
                    $('.form-group').removeClass('has-error');

                    if (json['error']) {
                        if (json['error']['option']) {
                            for (i in json['error']['option']) {
                                var element = $('#input-option' + i.replace('_', '-'));

                                if (element.parent().hasClass('input-group')) {
                                    element.parent().before('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                                } else {
                                    element.before('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                                }
                            }
                        }

                        if (json['error']['recurring']) {
                            $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
                        }

                        // Highlight any found errors
                        $('.text-danger').parent().addClass('has-error');
                    }

                    if (json['success']) {
                        $.notify({
                            message: json['success'],
                            target: '_blank'
                        }, {
                            // settings
                            element: 'body',
                            position: null,
                            type: "info",
                            allow_dismiss: true,
                            newest_on_top: false,
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            offset: 0,
                            spacing: 10,
                            z_index: 2031,
                            delay: 5000,
                            timer: 1000,
                            url_target: '_blank',
                            mouse_over: null,
                            animate: {
                                enter: 'animated fadeInDown',
                                exit: 'animated fadeOutUp'
                            },
                            onShow: null,
                            onShown: null,
                            onClose: null,
                            onClosed: null,
                            icon_type: 'class',
                            template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-success" role="alert">' +
                                '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">&nbsp;&times;</button>' +
                                '<span data-notify="message"><i class="fa fa-check-circle"></i>&nbsp; {2}</span>' +
                                '<div class="progress" data-notify="progressbar">' +
                                '<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                                '</div>' +
                                '<a href="{3}" target="{4}" data-notify="url"></a>' +
                                '</div>'
                        });

                        $('#cart > button').html('<span id="cart-total">' + json['total'] + '</span>' + '<span id="cart-title">' + json['headingtitle'] + '</span>');

                        //$('html, body').animate({ scrollTop: 0 }, 'slow');

                        $('#cart > ul').load('index1e1c.html?route=common/cart/info%20ul%20li');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        });
        //--></script>
    <script type="text/javascript">
<!--
        $('.date').datetimepicker({
            language: 'en-gb',
            pickTime: false
        });

        $('.datetime').datetimepicker({
            language: 'en-gb',
            pickDate: true,
            pickTime: true
        });

        $('.time').datetimepicker({
            language: 'en-gb',
            pickDate: false
        });

        $('button[id^=\'button-upload\']').on('click', function () {
            var node = this;

            $('#form-upload').remove();

            $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

            $('#form-upload input[name=\'file\']').trigger('click');

            if (typeof timer != 'undefined') {
                clearInterval(timer);
            }

            timer = setInterval(function () {
                if ($('#form-upload input[name=\'file\']').val() != '') {
                    clearInterval(timer);

                    $.ajax({
                        url: 'index.php?route=tool/upload',
                        type: 'post',
                        dataType: 'json',
                        data: new FormData($('#form-upload')[0]),
                        cache: false,
                        contentType: false,
                        processData: false,
                        beforeSend: function () {
                            $(node).button('loading');
                        },
                        complete: function () {
                            $(node).button('reset');
                        },
                        success: function (json) {
                            $('.text-danger').remove();

                            if (json['error']) {
                                $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
                            }

                            if (json['success']) {
                                alert(json['success']);

                                $(node).parent().find('input').val(json['code']);
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
            }, 500);
        });
        //--></script>
    <script type="text/javascript">
<!--
        $('#review').delegate('.pagination a', 'click', function (e) {
            e.preventDefault();

            $('#review').fadeOut('slow');

            $('#review').load(this.href);

            $('#review').fadeIn('slow');
        });

        $('#review').load('indexbe0f.html?route=product/product/review&amp;product_id=51');

        $('#button-review').on('click', function () {
            $.ajax({
                url: 'index.php?route=product/product/write&product_id=51',
                type: 'post',
                dataType: 'json',
                data: $("#form-review").serialize(),
                beforeSend: function () {
                    $('#button-review').button('loading');
                },
                complete: function () {
                    $('#button-review').button('reset');
                },
                success: function (json) {
                    $('.alert-dismissible').remove();

                    if (json['error']) {
                        $('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
                    }

                    if (json['success']) {
                        $('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

                        $('input[name=\'name\']').val('');
                        $('textarea[name=\'text\']').val('');
                        $('input[name=\'rating\']:checked').prop('checked', false);
                    }
                }
            });
        });

        //$(document).ready(function() {
        //	$('.thumbnails').magnificPopup({
        //		type:'image',
        //		delegate: 'a',
        //		gallery: {
        //			enabled: true
        //		}
        //	});
        //});


        $(document).ready(function () {
            if ($(window).width() > 767) {
                $("#tmzoom").elevateZoom({

                    gallery: 'additional-carousel',
                    //inner zoom

                    zoomType: "inner",
                    cursor: "crosshair"

                    /*//tint

                    tint:true,
                    tintColour:'#F90',
                    tintOpacity:0.5

                    //lens zoom

                    zoomType : "lens",
                    lensShape : "round",
                    lensSize : 200

                    //Mousewheel zoom

                    scrollZoom : true*/


                });
                var z_index = 0;

                $(document).on('click', '.thumbnail', function () {
                    $('.thumbnails').magnificPopup('open', z_index);
                    return false;
                });

                $('.additional-carousel a').click(function () {
                    var smallImage = $(this).attr('data-image');
                    var largeImage = $(this).attr('data-zoom-image');
                    var ez = $('#tmzoom').data('elevateZoom');
                    $('.thumbnail').attr('href', largeImage);
                    ez.swaptheimage(smallImage, largeImage);
                    z_index = $(this).index('.additional-carousel a');
                    return false;
                });

            } else {
                $(document).on('click', '.thumbnail', function () {
                    $('.thumbnails').magnificPopup('open', 0);
                    return false;
                });
            }
        });
        $(document).ready(function () {
            $('.thumbnails').magnificPopup({
                delegate: 'a.elevatezoom-gallery',
                type: 'image',
                tLoading: 'Loading image #%curr%...',
                mainClass: 'mfp-with-zoom',
                gallery: {
                    enabled: true,
                    navigateByImgClick: true,
                    preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
                },
                image: {
                    tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
                    titleSrc: function (item) {
                        return item.el.attr('title');
                    }
                }
            });
        });
    </script>
</body>
