@using BulgarianWines.Common
@using BulgarianWines.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@*@{
        var context = new PrincipalContext(ContextType.Domain);
        var principal = UserPrincipal.FindByIdentity(context, User.Identity.Name);
    }*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @this.ViewData["Title"] - @GlobalConstants.SystemName
    </title>
    <link href="~/css/wined/themecss/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true" />

    <script src="~/lib/popper/dist/umd/popper.js" asp-append-version="true"></script>

    <script src="~/js/wined/jquery/jquery-2.1.1.min.js" asp-append-version="true"></script>
    <!-- <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" /> -->
    @*<script src="~/js/wined/bootstrap/js/bootstrap.min.js"></script>*@
    <link href="~/js/wined/font-awesome/css/font-awesome.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">
    <link href="~/css/wined/stylesheet.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/wined/themecss/lightbox.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/js/wined/jquery/magnific/magnific-popup.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/js/wined/jquery/owl-carousel/owl.carousel.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/js/wined/jquery/owl-carousel/owl.transitions.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/wined/themecss/carousel.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/wined/themecss/custom.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/wined/themecss/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/wined/themecss/animate.css" rel="stylesheet" asp-append-version="true" />



    <!-- <link href="style.href" type="text/css" rel="style.rel" media="style.media" />
    <link href="style.href" type="text/css" rel="style.rel" media="style.media" />
    <link href="style.href" type="text/css" rel="style.rel" media="style.media" />
    <link href="style.href" type="text/css" rel="style.rel" media="style.media" />
     -->

    <script src="~/lib/datatables-js/js/jquery.dataTables.js" asp-append-version="true"></script>
    <script src="~/js/wined/lightbox/lightbox-2.6.min.js" asp-append-version="true"></script>
    <link href="~/js/wined/jquery/swiper/css/swiper.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/js/wined/jquery/swiper/css/opencart.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/js/wined/jquery/owl-carousel/owl.carousel.css" rel="stylesheet" media="screen" asp-append-version="true" />
    <link href="~/js/wined/jquery/owl-carousel/owl.transitions.css" rel="stylesheet" media="screen" asp-append-version="true" />
    <script src="~/js/wined/jquery/swiper/js/swiper.jquery.js" asp-append-version="true"></script>
    <script src="~/js/wined/jquery/owl-carousel/owl.carousel.min.js" asp-append-version="true"></script>
    @*<script src="~/js/wined/common.js"></script>*@
    <link href="~/images/wined/cart.png" />

    <!-- Theme Start -->

    <script type="text/javascript" src="~/js/wined/themejs/custom.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/themejs/jstree.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/themejs/carousel.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/themejs/productcarosel.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/themejs/jquery.custom.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/themejs/jquery.formalize.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/themejs/jquery.elevatezoom.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/themejs/bootstrap-notify.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/jquery/magnific/jquery.magnific-popup.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/jquery/owl-carousel/owl.carousel.min.js" asp-append-version="true"></script>
    <link href="~/js/wined/jquery/magnific/magnific-popup.css" rel="stylesheet" asp-append-version="true" />
    <script type="text/javascript" src="~/js/wined/themejs/tabs.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/jquery.countdown.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/jquery.countdown.min.js" asp-append-version="true"></script>
    <!-- Theme End -->

    <script src="~/js/wined/common.js" asp-append-version="true"></script>
    <script src="~/js/wined/themejs/parallax.js" asp-append-version="true"></script>

    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
</head>
<body class="common-home   layout-1">
    <header>
        <div class="header">
            <div class="header-nav-wrapper">
                <div class="container">
                    <div class="header-nav-left">
                        <div class="nav pull-left ">

                        </div>
                    </div>
                    <div class="header-nav-right">

                        <!--<div id="wish-list" class="wish-list hidden-md-down">
                        <div class="wish-details">
                        <span class="wish-image"></span>
                        </div>

                        <div class="wish-list-details dropdown-menu">
                        <div class="header-wishlist"><a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=account/wishlist" id="wishlist-total" title="Wish List (0)"><span class="wishlist">Wish List (0)</span></a></div>
                        </div>
                        </div>-->
                    </div>
                </div>
            </div>

            <div class="content_headercms_top">
                <div id="main-menu" class="main-menu">
                    <nav class="nav-container" role="navigation">
                        <div class="nav-inner">
                            <div id="menu" class="main-menu">
                                <div class="nav-responsive">
                                    <span>
                                        Menu
                                    </span>
                                    <div class="menu-expand-wrapper">
                                        <div class="expandable"></div>
                                    </div>
                                </div>
                                <div class="nav-mainmenu btn-modal" type="button" id="dropdownMenuButton1" data-toggle="dropdown">
                                    <span class="mainmenu-btn-wrapper">
                                        <span class="mainmenu-btn"></span>
                                    </span>
                                    <span class="mainmenu-text">
                                        menu
                                    </span>
                                </div>
                                <ul class="dropdown-menu dropdown-menu-end nav navbar-nav" aria-labelledby="dropdownMenuButton1">
                                    <li class="dropdown-item top_level home">
                                        <a href="index9328.html?route=common/home">
                                            Home
                                        </a>
                                    </li>
                                    <li class="top_level">
                                        <a asp-area="" asp-controller="Wines" asp-action="AllWines">
                                            All Wines
                                        </a>
                                    </li>
                                    <li class="top_level dropdown">
                                        <a href="index8122.html?route=product/category&amp;path=34">
                                            our store
                                        </a>

                                        <div class="dropdown-menu megamenu column3">
                                            <div class="dropdown-inner">
                                                <ul class="list-unstyled childs_1">
                                                    2 Level Sub Categories START
                                                    <li class="dropdown">
                                                        <a href="index22d5.html?route=product/category&amp;path=34_43">
                                                            marsala wine
                                                        </a>
                                                        <div class="dropdown-menu">
                                                            <div class="dropdown-inner">
                                                                <ul class="list-unstyled childs_2">
                                                                    <li>
                                                                        <a href="indexa84d.html?route=product/category&amp;path=34_43_50">
                                                                            accusamus iusto
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="indexa249.html?route=product/category&amp;path=34_43_47">
                                                                            nulla venenatis
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="indexd24f.html?route=product/category&amp;path=34_43_28">
                                                                            Phasellus tempu
                                                                        </a>
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>

                                                    </li>
                                                    2 Level Sub Categories END

                                                </ul>
                                                <ul class="list-unstyled childs_1">
                                                    2 Level Sub Categories START
                                                    <li class="dropdown">
                                                        <a href="index0e62.html?route=product/category&amp;path=34_49">sagrantino</a>

                                                        <div class="dropdown-menu">
                                                            <div class="dropdown-inner">
                                                                <ul class="list-unstyled childs_2">
                                                                    <li><a href="index3286.html?route=product/category&amp;path=34_49_53">temporibus autem</a></li>
                                                                    <li><a href="index5168.html?route=product/category&amp;path=34_49_55">ullamco laboris </a></li>
                                                                    <li><a href="indexc614.html?route=product/category&amp;path=34_49_44">voluptatem sequi</a></li>

                                                                </ul>
                                                            </div>
                                                        </div>

                                                    </li>
                                                    2 Level Sub Categories END

                                                </ul>
                                                <ul class="list-unstyled childs_1">
                                                    2 Level Sub Categories START
                                                    <li class="dropdown">
                                                        <a href="index7e21.html?route=product/category&amp;path=34_48">vernaccia</a>

                                                        <div class="dropdown-menu">
                                                            <div class="dropdown-inner">
                                                                <ul class="list-unstyled childs_2">
                                                                    <li>
                                                                        <a href="index893e.html?route=product/category&amp;path=34_48_52">
                                                                            rem aperiam
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="indexc5f8.html?route=product/category&amp;path=34_48_51">
                                                                            ridiculus mus
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="indexeae5.html?route=product/category&amp;path=34_48_24">
                                                                            dictum gravida
                                                                        </a>
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>

                                                    </li>
                                                    2 Level Sub Categories END

                                                </ul>
                                            </div>
                                        </div>

                                    </li>

                                    <li class="top_level dropdown">
                                        <a asp-controller="Categories" asp-action="Products" asp-route-categoryId="1">
                                            red wines
                                        </a>

                                        @*<partial name="_ProductsFromCategoryPartial"/>*@

                                    </li>

                                    <li class="top_level dropdown">
                                        <a asp-controller="Categories" asp-action="Products" asp-route-categoryId="2">
                                            white wines
                                        </a>

                                        @*<partial name="_ProductsFromCategoryPartial" />*@
                                    </li>

                                    <li class="top_level dropdown">
                                        <a asp-controller="Categories" asp-action="Products" asp-route-categoryId="3">
                                            rose wines
                                        </a>

                                        @*<partial name="_ProductsFromCategoryPartial" />*@
                                    </li>

                                    <li class="top_level dropdown">
                                        <a asp-controller="Categories" asp-action="Products" asp-route-categoryId="4">
                                            sparkling wines
                                        </a>

                                        @*<partial name="_ProductsFromCategoryPartial" />*@
                                    </li>
                                    <li class="top_level dropdown">
                                        <a asp-controller="Categories" asp-action="Products" asp-route-categoryId="5">
                                            dessert wines
                                        </a>

                                        @*<partial name="_ProductsFromCategoryPartial" />*@
                                    </li>

                                    <li class="level0">
                                        <a asp-controller="Home" asp-action="Contact">
                                            contact us
                                        </a>
                                    </li>
                                    <li class="level0">
                                        <a asp-controller="Home" asp-action="About">
                                            about us
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>

                <div class="dropdown myaccount">
                    <partial name="_LoginPartial" />
                </div>
                <div class="header-logo">
                    <div id="logo">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="https://bulgarianwines.blob.core.windows.net/publicimages/logo.jpg" style="height: 100%; width: 100%; object-fit: contain" title="@GlobalConstants.SystemName" alt="@GlobalConstants.SystemName" class="img-responsive" />
                        </a>
                    </div>
                </div>

                <vc:products-count></vc:products-count>
                <vc:search></vc:search>
            </div>

            <div class="content_headercms_bottom">
                <div class="container">
                </div>
            </div>
        </div>
    </header>

    @*<div class="container">*@
    <partial name="_CookieConsentPartial" />
    <partial name="_AlertPartial" />
    @*<main role="main" class="pb-3">*@
    @this.RenderBody()
    @*</main>*@
    @*</div>*@
    <footer>
        <div id="footer">
            <div class="content_footer_top">
            </div>
            <div class="content_footer_wrapper">
                <div class="content_footer_inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 column common first">
                                <h5>
                                    Information
                                </h5>
                                <ul class="list-unstyled">
                                    <li>
                                        <a asp-area="" asp-controller="Home" asp-action="About">
                                            About Us
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Home" asp-action="DeliveryInformation">
                                            Delivery Information
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Home" asp-action="Privacy">
                                            Privacy Policy
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Home" asp-action="TermsAndConditions">
                                            Terms &amp; Conditions
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <div class="footer-left column col-md-3 col-lg-3">
                                <div id="contact">
                                    <h5>Contact Us</h5>
                                    <ul>
                                        <li class="address">wined demo store</li>
                                        <li>111, Puffin Street, New York, 12354</li>
                                        <li class="fax">1-212-98765432</li>
                                        <li class="email"><a href="#">support@company.com</a></li>
                                    </ul>
                                </div>
                            </div>

                            <!--<div class="col-md-3 col-lg-3 column common second">
                                <h5>My Account</h5>
                                <ul class="list-unstyled">
                                    <li><a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=product/manufacturer">Brands</a></li>
                                    <li><a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=account/voucher">Gift Certificates</a></li>
                                    <li><a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=affiliate/login">Affiliates</a></li>
                                    <li><a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=information/sitemap">Site Map</a></li>
                                    <li><a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=product/special">Specials</a></li>
                                </ul>
                            </div>-->
                            <!--<div class="col-md-3 col-lg-3 column common third">
                                <h5>Extras</h5>
                                <ul class="list-unstyled">
                                    <li><a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=product/special">Specials</a></li>
                                    <li><a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=product/manufacturer">Brands</a></li>
                                    <li><a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=affiliate/login">Affiliates</a></li>
                                    <li><a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=account/account">My Account</a></li>
                                    <li><a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=information/sitemap">Site Map</a></li>
                                </ul>
                            </div>-->

                            <div class="footer-social column col-md-3 col-lg-3">
                                <div class="social">
                                    <h5>follow us</h5>
                                    <ul>
                                        <li class="social-item">
                                            <div class="social-item-inner">
                                                <div class="social-image"><span class="social-icon">&nbsp;</span></div>
                                                <div class="social-right"><a href="#">Facebook</a></div>
                                            </div>
                                        </li>
                                        <li class="social-item">
                                            <div class="social-item-inner">
                                                <div class="social-image"><span class="social-icon">&nbsp;</span></div>
                                                <div class="social-right"><a href="#">instagram</a></div>
                                            </div>
                                        </li>
                                        <li class="social-item">
                                            <div class="social-item-inner">
                                                <div class="social-image"><span class="social-icon">&nbsp;</span></div>
                                                <div class="social-right"><a href="#">twitter</a></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-3 col-lg-3 column fourth">
                                <div class="footer-right-wrapper">
                                    <script>
                                        function subscribe() {
                                            var emailpattern = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                                            var email = $('#txtemail').val();
                                            if (email != "") {
                                                if (!emailpattern.test(email)) {
                                                    $('.text-danger').remove();
                                                    var str = '<span class="error">Invalid Email</span>';
                                                    $('.form-group').after('<div class="text-danger">Invalid Email</div>');

                                                    return false;
                                                }
                                                else {
                                                    $.ajax({
                                                        url: 'index.php?route=extension/module/newsletters/news',
                                                        type: 'post',
                                                        data: 'email=' + $('#txtemail').val(),
                                                        dataType: 'json',


                                                        success: function (json) {

                                                            $('.text-danger').remove();
                                                            $('.form-group').after('<div class="text-danger">' + json.message + '</div>');

                                                        }

                                                    });
                                                    return false;
                                                }
                                            }
                                            else {
                                                $('.text-danger').remove();
                                                $('.form-group').after('<div class="text-danger">Email Is Required</div>');
                                                $(email).focus();

                                                return false;
                                            }
                                        }
                                    </script>
                                    <div class="newsletter">
                                        <div class="newsletter-wrapper">
                                            <!-- <div class="container">
                                            <div class="row"> -->
                                            <div class="newsletter-details col-md-12 col-xs-12 col-lg-12 ">
                                                <div class="newsletter-desc box">
                                                    <div class="title-wrapper">
                                                        <div class="newsletter-title box-heading">newsletter</div>
                                                    </div>
                                                    <!--<div class="desc">subscribe now</div>-->
                                                </div>
                                            </div>
                                            <div class="newsletter-block col-md-12 col-xs-12 col-lg-12">
                                                <!--<span class="newsletter-image"></span>
                                                <span class="newsletter-info">subscribe! new items.</span>-->
                                                <form method="post">
                                                    <div class="form-group required">
                                                        <label class="col-sm-2 control-label" for="txtemail">
                                                            Enter your e-mail
                                                        </label>
                                                        <div class="input-news">
                                                            <input type="email" name="txtemail" id="txtemail" value="" placeholder="Enter your e-mail" class="form-control input-lg" />
                                                        </div>
                                                        <div class="subscribe-btn">
                                                            <button type="submit" class="btn btn-default btn-lg" onclick="return subscribe();">
                                                                subscribe
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="footer-payment">
                                        <div class="payment-block">
                                            @*<h5>payment method</h5>
                                                <ul>
                                                    <li class="visa">
                                                        <a href="#">
                                                            <img src="image/catalog/demo/banners/visa.svg" alt="">
                                                        </a>
                                                    </li>
                                                    <li class="paypal">
                                                        <a href="#">
                                                            <img src="image/catalog/demo/banners/paypal.svg" alt="">
                                                        </a>
                                                    </li>
                                                    <li class="discover">
                                                        <a href="#">
                                                            <img src="image/catalog/demo/banners/discover.svg" alt="">
                                                        </a>
                                                    </li>
                                                    <li class="mastercard">
                                                        <a href="#">
                                                            <img src="image/catalog/demo/banners/mastercard.svg" alt="">
                                                        </a>
                                                    </li>
                                                    <li class="american-express">
                                                        <a href="#">
                                                            <img src="image/catalog/demo/banners/american-express.svg" alt="">
                                                        </a>
                                                    </li>
                                                </ul>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright-container text-muted">
                    <div class="content_footer_bottom container">
                        &copy; @DateTime.Now.Year - @GlobalConstants.SystemName
                    </div>
                    <div class="footer-container">
                        <!-- <div id="bottomfooter">
                            <ul>
                                <li class="first"><a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=product/special">Specials</a></li>
                                <li><a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=affiliate/login">Affiliates</a></li>
                                <li><a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=account/voucher">Gift Certificates</a></li>
                                <li><a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=product/manufacturer">Brands</a></li>
                                <li><a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=account/return/add">Returns</a></li>
                                <li><a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=information/sitemap">Site Map</a></li>
                                <li class="last"><a href="http://demos.thementic.com/opencart/OPC01/OPC0100034/index.php?route=information/contact">Contact Us</a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>>

    <script type="text/javascript">
        function responsivecolumn() {
            // ---------------- Fixed header responsive ----------------------
            if ($(document).width() >= 980) {
                $(window).bind('scroll', function () {
                    if ($(window).scrollTop() > 0) {
                        $('.content_headercms_top').addClass('fixed');
                    } else {
                        $('.content_headercms_top').removeClass('fixed');
                    }
                });
            }
            else {
                $('.content_headercms_top').removeClass('fixed');
            }


            if ($(document).width() <= 991) {

                $(window).bind('scroll', function () {
                    if ($(window).scrollTop() > 0) {
                        $('.content_headercms_top').addClass('fixed');
                    } else {
                        $('.content_headercms_top').removeClass('fixed');
                    }
                });
            }


        }
        $(document).ready(function () {
            responsivecolumn();
        });
        $(window).resize(function () {
            responsivecolumn();
        });
    </script>

    <script type="text/javascript">
        function(c) {
            if (/(38|40|27|32)/.test(c.which) && !/input|textarea/i.test(c.target.tagName)) {
                var d = a(this);
                if (c.preventDefault(), c.stopPropagation(), !d.is(".disabled, :disabled")) {
                    var e = b(d),
                        g = e.hasClass("open");
                    if (!g && 27 != c.which || g && 27 == c.which) return 27 == c.which && e.find(f).trigger("focus"), d.trigger("click");
                    var h = " li:not(.disabled):visible a",
                        i = e.find(".dropdown-menu" + h);
                    if (i.length) {
                        var j = i.index(c.target);
                        38 == c.which && j > 0 && j--, 40 == c.which && j < i.length - 1 && j++, ~j || (j = 0), i.eq(j).trigger("focus")
                    }
                }
            }
        }

    </script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>

    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
