@model BulgarianWines.Web.ViewModels.Administration.UserMessages.AllUserMessagesViewModel<BulgarianWines.Web.ViewModels.Administration.UserMessages.UserMessageViewModel>

@{
    this.ViewData["Title"] = "Messages";
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
</head>

<div class="shadow card">
    <div class="card-header h3 text-center">
        @this.ViewData["Title"]
    </div>
    <div class="row">
        <partial name="_UserMessagesPartial" />
        <div class="col-md-6">
            <div class="container mt-3">
                @if (Model.UserMessageViewModelCollection != null)
                {
                    <form>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label asp-for="@Model.UserMessageViewModel.Subject">
                                        Subject:
                                    </label>
                                    <input asp-for="@Model.UserMessageViewModel.Subject" class="form-control" disabled placeholder="Subject" />
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="@Model.UserMessageViewModel.Email">
                                        Email:
                                    </label>
                                    <input type="email" asp-for="@Model.UserMessageViewModel.Email" class="form-control" disabled placeholder="Email" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.UserMessageViewModel.CreatedOn">
                                Created on:
                            </label>
                            <input asp-for="@Model.UserMessageViewModel.CreatedOn" class="form-control" disabled placeholder="Created on" />
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="@Model.UserMessageViewModel.Message">
                                Message:
                            </label>
                            <textarea asp-for="@Model.UserMessageViewModel.Message" class="form-control" rows="3" disabled>@Model.UserMessageViewModel.Message</textarea>
                        </div>
                        <div class="row mb-3 pt-0">
                            <div class="col-md-6">
                                <a asp-controller="UserMessages" asp-action="Delete" asp-route-id="@Model.UserMessageViewModel.Id" class="btn btn-danger btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                    <span class="text">
                                        Delete
                                    </span>
                                </a>
                            </div>
                            <div class="col-md-6 text-right">
                                <a asp-controller="UserMessages" asp-action="Unread" asp-route-id="@Model.UserMessageViewModel.Id" class="btn btn-primary btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                    <span class="text">
                                        Mark As Unread
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="text-right">
                            <a href="mailto:@Model.UserMessageViewModel.Email?subject=Re: @Model.UserMessageViewModel.Subject&body=Re: @Model.UserMessageViewModel.Message" class="btn btn-info btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-info-circle"></i>
                                </span>
                                <span class="text">
                                    Reply
                                </span>
                            </a>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>
