@model BulgarianWines.Web.ViewModels.Index.IndexViewModel

@using BulgarianWines.Common
@using Microsoft.AspNetCore.Hosting
@{
    this.ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="UTF-8" />
</head>

<div class="nav-inner-cms">
    <div class="header-bottom">
    </div>
</div>

<div>
    <div>

    </div>
</div>
<!-- ======= Quick view JS ========= -->
<script>

    function quickbox() {
        if ($(window).width() > 767) {
            $('.quickview').magnificPopup({
                type: 'iframe',
                delegate: 'a',
                preloader: true,
                tLoading: 'Loading image #%curr%...',
            });
        }
    }
    jQuery(document).ready(function () { quickbox(); });
    jQuery(window).resize(function () { quickbox(); });

</script>

<div id="common-home">
    <div class="content-top">
        <div id="content1">
            <div class="main-slider">
                <div id="spinner"></div>
                <div class="swiper-viewport">
                    <div id="slideshow0" class="swiper-container" style="opacity: 1;">
                        <div class="swiper-wrapper">
                            @foreach (var slide in Model.Slides)
                            {
                                @foreach (var image in slide.SlideImages)
                                {
                                    <div class="swiper-slide text-center">
                                        <a>
                                            <img src="@image.ImageUrl" alt="mainbanner1" class="img-responsive" />
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="swiper-pager">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $('#slideshow0').swiper({
                    mode: 'horizontal',
                    slidesPerView: 1,
                    pagination: '.slideshow0',
                    paginationClickable: true,
                    nextButton: '.swiper-button-next',
                    prevButton: '.swiper-button-prev',
                    spaceBetween: 0,
                    autoplay: 25000,
                    autoplayDisableOnInteraction: true,
                    loop: true/*,
                                                                                                                                                                                                                                                  paginationType: 'bullets'*/
                });
            </script>

            <script type="text/javascript">
                // Can also be used with $(document).ready()
                $(window).load(function () {
                    $("#spinner").fadeOut("slow");
                });
            </script>
            @{
                int i = 0;
            }
            <div id="categorycmsblock" class="categorycms">
                <ul class="categorycmsblock-inner row">
                    @foreach (var product in @Model.NewestProducts)
                    {
                        @if (i % 2 == 0)
                        {
                            <li class="category-item col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="category-item-inner" style="width: 100%; height: 100%">
                                    <a asp-controller="Wines" asp-action="SingleWine" asp-route-id="@product.Id" class="category-img">
                                        <img src="@product.ImageUrl" alt="" style="width: 100%; height: 100%">
                                    </a>
                                    <div class="category-item-content">
                                        <a class="category-title" asp-controller="Wines" asp-action="SingleWine" asp-route-id="@product.Id">
                                            @product.Name
                                        </a>
                                        <span class="category-desc" asp-controller="Wines" asp-action="SingleWine" asp-route-id="@product.Id">
                                            @product.Description
                                        </span>
                                    </div>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="category-item col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="category-item-inner" style="width: 100%; height: 100%">
                                    <div class="category-item-content">
                                        <a class="category-title" asp-controller="Wines" asp-action="SingleWine" asp-route-id="@product.Id">
                                            @product.Name
                                        </a>
                                        <span class="category-desc" asp-controller="Wines" asp-action="SingleWine" asp-route-id="@product.Id">
                                            @product.Description
                                        </span>
                                    </div>
                                    <a asp-controller="Wines" asp-action="SingleWine" asp-route-id="@product.Id" class="category-img">
                                        <img src="@product.ImageUrl" alt="" style="width: 100%; height: 100%">
                                    </a>
                                </div>
                            </li>
                        }

                        i++;
                    }
                </ul>
            </div>

            <div id="Tab_Category_Slider" class="category_tab box" style="padding-bottom: 150px;">
                <div class="container">
                    <div class="title-wrapper">
                        <div class="box-heading">
                            our Products
                        </div>
                    </div>
                    <div class="tabs">
                        <div class="etabs">
                            <ul class="nav nav-tabs">
                                @foreach (var category in Model.AllCategories)
                                {
                                    <li class="card" style="width: 13rem;">
                                        <a asp-area="" asp-controller="Categories" asp-action="Products" asp-route-id="@category.Id">
                                            @category.Name
                                            @foreach (var image in category.CategoryImages)
                                            {
                                                <div class="card-body">
                                                    <h5 class="card-title">
                                                        <img class="card-img-top" src="@image.ImageUrl" style="height: 100%; width: 100%">
                                                    </h5>
                                                </div>
                                            }
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                         <div class="customNavigation">
                             <a class="fa prev">
                                 &nbsp;
                             </a>
                             <a class="fa next">
                                 &nbsp;
                             </a>
                        </div> 
                        @*<div class="tab-content home-products">
                                <partial name="_ProductsFromCategoryPartial" />
                            </div>*@
                    </div>
                </div>
            </div>
        </div>

        @*<script type="text/javascript">
            <!--
                        $('#Tab_Category_Slider .owl-demo-tabcate').owlCarousel({
                            items: 4,
                            navigation: true,
                            navigationText: ['<span class="left"><a class="fa prev fa-angle-left"></a></span>', '<span class="right"><a class="fa next fa-angle-right"></a></span>'],
                            pagination: false,
                            transitionStyle: "fade",
                            slideSpeed: 1000,
                            rewindSpeed: 800,
                            itemsCustom: [
                                [0, 1],
                                [319, 1],
                                [480, 1],
                                [767, 2],
                                [980, 3],
                                [1300, 3],
                            ]

                        });
                        function vlcazwfnuqloadAjaxData(category_id) {
                            var unavailabledates = { "name": "Top Category", "heading": "", "category": "", "product_category": ["18", "25", "61", "43"], "category_limit": "5", "product_limit": "14", "width": "380", "height": "384", "status": "1" };
                            var dataToSend = { 'category_id': category_id, 'setting': unavailabledates };
                            $.ajax({
                                type: 'POST',
                                data: dataToSend,
                                url: 'index.php?route=extension/module/category_tab/ajaxloaddata',
                                beforeSend: function () {
                                    $("#vlcazwfnuq").html('<div style="text-align:center;"></div>');
                                    //http://www.bigtravelsghana.com/img/images/ajax-loader.gif
                                },
                                success: function (data) {
                                    $('#Tab_Category_Slider').replaceWith(data);
                                    $('#Tab_Category_Slider .owl-demo-tabcate').owlCarousel({
                                        items: 4,
                                        navigation: true,
                                        navigationText: ['<span class="left"></span>', '<span class="right"></span>'],
                                        pagination: false,
                                        transitionStyle: "fade",
                                        itemsCustom: [
                                            [0, 1],
                                            [319, 1],
                                            [480, 1],
                                            [767, 2],
                                            [980, 3],
                                            [1300, 3],
                                        ]
                                    });
                                    //alert(data);
                                }
                            });
                        }
                        --></script>*@
        <script type="text/javascript">
            // Can also be used with $(document).ready()
            $(document).ready(function () {
                $("#tab_spinner").fadeOut("slow");
            });
        </script>
        <div id="carousel-0" class="banners-slider-carousel">
            <div class="container">
                <div class="customNavigation">
                    <a class="prev fa fa-angle-left"></a>
                    <a class="next fa fa-angle-right"></a>
                </div>
                <div class="product-carousel" id="module-0-carousel">
                    <div class="slider-item">
                        <div class="product-block">
                            <div class="product-block-inner">
                                <a href="#"><img src="image/cache/catalog/demo/manufacturer/7-90x90.png" alt="laboriosam" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span class="module_default_width" style="display:none; visibility:hidden"></span>
        </div>
    </div>
</div>
