@model BulgarianWines.Web.ViewModels.ShoppingCart.ShoppingCartViewModel


@{
    var productClassName = string.Empty;
}

<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        Checkout
    </title>
    @*<script src="~/js/wined/jquery/jquery-2.1.1.min.js" asp-append-version="true"></script>*@
    <!-- <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" /> -->
    <script src="~/js/wined/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
    <link href="~/js/wined/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">

    <link href="~/css/wined/stylesheet.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/wined/themecss/lightbox.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/js/wined/jquery/magnific/magnific-popup.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/js/wined/jquery/owl-carousel/owl.carousel.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/js/wined/jquery/owl-carousel/owl.transitions.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/wined/themecss/carousel.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/wined/themecss/custom.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/wined/themecss/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/wined/themecss/animate.css" asp-append-version="true" />

    <script src="~/js/wined/lightbox/lightbox-2.6.min.js" asp-append-version="true"></script>
    <link href="~/js/wined/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen" asp-append-version="true" />
    <script src="~/js/wined/jquery/datetimepicker/moment/moment.min.js" asp-append-version="true"></script>
    <script src="~/js/wined/jquery/datetimepicker/moment/moment-with-locales.min.js" asp-append-version="true"></script>
    <script src="~/js/wined/jquery/datetimepicker/bootstrap-datetimepicker.min.js" asp-append-version="true"></script>
    @*<script src="~/js/wined/common.js" asp-append-version="true"></script>*@
    <!-- Theme Start -->

    <script type="text/javascript" src="~/js/wined/themejs/custom.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/themejs/jstree.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/themejs/carousel.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/themejs/productcarosel.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/themejs/jquery.custom.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/themejs/jquery.formalize.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/themejs/jquery.elevatezoom.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/themejs/bootstrap-notify.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/jquery/magnific/jquery.magnific-popup.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/themejs/owl.carousel.min.js" asp-append-version="true"></script>
    <link rel="stylesheet" type="text/css" href="~/js/wined/jquery/magnific/magnific-popup.css" asp-append-version="true" />
    <script src="~/js/wined/themejs/tabs.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/jquery.countdown.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/wined/jquery.countdown.min.js" asp-append-version="true"></script>
    <!-- Theme End -->

    <script src="~/js/wined/common.js" asp-append-version="true"></script>
    <script src="~/js/wined/themejs/parallax.js" asp-append-version="true"></script>
</head>
<body class="checkout-checkout   layout-1">
    <div id="checkout-checkout" class="container">
        <div class="row">
            <div id="content" class="col-sm-12">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a>
                                    Order Review
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse in" id="collapse-checkout-confirm" aria-expanded="true" style="">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <td class="text-left">
                                                    
                                                </td>
                                                <td class="text-left">
                                                    Product Name
                                                </td>
                                                <td class="text-left">
                                                    Model
                                                </td>
                                                <td class="text-right">
                                                    Quantity
                                                </td>
                                                <td class="text-right">
                                                    Unit Price
                                                </td>
                                                <td class="text-right">
                                                    Total
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var product in Model.Products)
                                            {
                                            <tr>
                                                <td class="text-left">
                                                <a asp-area="" asp-controller="Wines" asp-action="SingleWine" asp-route-id="@product.ProductId">
                                                    <img src="@product.ImageUrl" alt="@product.ProductName" title="@product.ProductName" class="custom-image-box" />
                                                </a>
                                                </td>
                                                <td class="text-left">
                                                    <a href="">
                                                        @product.ProductName
                                                    </a>
                                                </td>
                                                <td class="text-left">
                                                    @product.ProductCode
                                                </td>
                                                <td class="text-right">
                                                    @product.Quantity
                                                </td>
                                                <td class="text-right">
                                                    S$@product.ProductPrice
                                                </td>
                                                <td class="text-right">
                                                    S$@(product.ProductPrice * product.Quantity)
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="5" class="text-right">
                                                    <strong>
                                                        Sub-Total:
                                                    </strong>
                                                </td>
                                                <td class="text-right">
                                                    S$@Model.Subtotal
                                                </td>
                                            </tr>
                                            @*<tr>
                                                <td colspan="5" class="text-right">
                                                    <strong>
                                                        VAT (20%):
                                                    </strong>
                                                </td>
                                                <td class="text-right">
                                                    S$@Model.VAT
                                                </td>
                                            </tr>*@
                                            <tr>
                                                <td colspan="5" class="text-right">
                                                    <strong>
                                                        Total:
                                                    </strong>
                                                </td>
                                                <td class="text-right">
                                                    S$@Model.GrandTotalPrice
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
